html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #111 0%, #875903 220%, #111 100%);
  color: #eee;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #362301;
  border-bottom: 2px solid #fca503;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fca503;
  position: absolute;
  left: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #eee;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.2s;
}

nav a:hover,
nav a.active {
  background: #694502;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}


.accordion {
  position: relative;
  max-width: 800px;
  margin: 40px auto;
  width: 100%;
}

.accordion-item {
  background: #1e1e1e;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.accordion-header {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  background: #2a2a2a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}

.accordion-header:hover {
  background: #3a3a3a;
}

.accordion-arrow {
  transition: transform 0.3s ease;
}

.accordion-item.active .accordion-arrow {
  transform: rotate(90deg);
}

.accordion-content {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #1b1b1b;
  padding: 15px 20px;
  border-radius: 0 0 5px 5px;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2000;
}

.accordion-item.active .accordion-content {
  opacity: 1;
  pointer-events: auto;
}
